.action{
    cursor: pointer;
    text-decoration: underline;
}
table{
    display: contents;
}
.table{
    margin-bottom: 50px;
}

table thead{
    background-color: grey;
}

th, td{
    border: 1px solid
}

.primary_btn{
    width: 200px;
    height: 80px
}
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.action_buttons{
    height: 40px;
    padding-bottom: 20px;
}

.list_button {
    height: 40px;
    width: 80px;
}

.input_area {
    display: flex;
    padding: 5px;
}
.input_label {
    width: 120px;
}
.input_field {
    width: 200px;
}
.input_area_cart {
    display: flex;
    padding-bottom: 20px;
}
.input_label_cart {
    width: 60px;
}
.input_field_cart {
    width: 100px;
}

input{
    max-width: -webkit-fill-available;
}

#add{
    margin-left: 10px;
}